body {
	background-image: url("../images/battlefield2.jpg");
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

#container {
	margin: 0px 10px;
	padding: 0px;
	max-width: 1440px;
}

.jumbotron {
	text-align: center;
	color: #eee;
	background: black;
}

.contender {
	height: 250px;
}
.contender div {
	border: green solid 2px;
	max-width: 100%;
	max-height: 175px;
}
.contender img {
	display: block;
	margin: auto;
	background: black;
	max-width: 100%;
	max-height: 100%;
}
.contender h3 {
	background: black;
	color: #eee;
	border: red solid 2px;
	text-align: center;
	padding-top: 5px;
}


#yourCharacter h2, 
#selectEnemy h2,
#fightSection h2,
#opponent h2,
.reset h2 {
	color: black;
}



 #fightSection {
 	display: none;
  }
.attackBTN {
	background-color: red;
	font-size: 24px;
	padding: 15px 32px;
}


 .reset {
 	display: none;
  }
.resetBTN {
	background-color: yellow;
	font-size: 24px;
	padding: 15px 32px;
}


.rightDisplay {
	border: black solid 2px;
	background: #800000;
	color: white;
	text-shadow: 2px 2px black;
	max-height: 1100px;
	overflow: scroll;
}






/* ******** TO DO ********
 	Make the images div's have a black background so the image scaling isn't so ugly on smaller resolutions*/



/*.row {
	background-color: rgba(255, 230, 230, 0.5);
	border: 1px dashed red;
	stroke-dashoffset: 10;
}

[class*="col-"]{
	background-color: rgba(230, 230, 255, 0.5);
	border: 1px dashed blue;
	stroke-dashoffset: 20;
}
*/