body {
	background-image: url("../images/battlefield2.jpg");
	margin: 0px;
	padding: 0px;
}

#container {
	margin: 0px 10px;
	padding: 0px;
	max-width: 1500px;
}

.jumbotron {
	text-align: center;
	color: #eee;
	background: black;
}

.contender {
	height: 250px;
}
.contender div {
	border: green solid 2px;
	max-width: 100%;
	max-height: 175px;
}
.contender img {
	display: block;
	margin: auto;
	background: black;
	max-width: 100%;
	max-height: 100%;
}
.contender h3 {
	background: black;
	color: #eee;
	border: red solid 2px;
	text-align: center;
	padding-top: 5px;
}


#yourCharacter h3, 
#selectEnemy h3,
#fightSection h3,
#defender h3 {
	color: black;
}










/*.row {
	background-color: rgba(255, 230, 230, 0.5);
	border: 1px dashed red;
	stroke-dashoffset: 10;
}

[class*="col-"]{
	background-color: rgba(230, 230, 255, 0.5);
	border: 1px dashed blue;
	stroke-dashoffset: 20;
}
*/